section#home.section-image(style="background-image:url('assets/images/img001.jpg')")
  h1
    span
  .section-image-more
    a.section-image-more-btn(href="javascript:")
      span.section-image-more-btn-txt.text-uppercase ΠΕΡΙΣΣΟΤΕΡΑ
      br
      span.more-arrow-icon
