- var title = "Προσκλητήριο";

section.article.participation-form#form(data-action="sendmail.php")
  .carousel.slide.label
    .carousel-inner
      .item.active
        .carousel-caption
          .container
            .row-no-margin
              .col-md-12
                h3=title
              .step1
                .col-sm-6
                  .row
                    .form-group.col-sm-12
                      label.text-uppercase Ονοματεπώνυμο &nbsp;
                        span.required (υποχρεωτικό)
                        input(type="text" required="required" id="lastname" name="lastname")
                    .form-group.col-sm-12
                      label.text-uppercase Θα παραυρεθούμε &nbsp;
                        span.required (υποχρεωτικό)
                        br
                        select.select-age.form-control.select2(id="isComing")
                          option(value="Ναι") Ναι
                          option(value="Όχι") Όχι
                .form-group.col-sm-6
                  label.text-uppercase Ευχές &nbsp;
                    span.required (προαιρετικό)
                    textarea(type="email" required="required" id="wishes" name="wishes")

                .col-sm-12
                  hr
                  .submit-button
                    button.send.btn.btn-primary(type="submit") ΑΠΟΣΤΟΛΗ
      .item
        .carousel-caption
          .container
            .row-no-margin
              .col-md-12
                .thankyou-container
                  h1 Ευχαριστούμε πολύ
