div.timeline-container
  .container
    ul.timeline
      li
        span.time 5.30
        span.time-periods ΜΜ
        hr
        span.title Ώρα προσέλευσης
      li
        span.time 6.00
        span.time-periods ΜΜ
        hr
        span.title Τελετή γάμου
      li
        span.time 7.00
        span.time-periods ΜΜ
        hr
        span.title Φωτογραφίες
      li
        span.time 8.00
        span.time-periods ΜΜ
        hr
        span.title Έναρξη δεξίωσης
      li
        span.time 9.00
        span.time-periods ΜΜ
        hr
        span.title Ώρα για πάρτυ
