@import "stapel";

.topbar {
  padding: 0;
  padding-left: 15px;
  box-shadow: none;
  min-height: 76px;
  margin-top: 40px;
  h2, h3 {
    margin: 10px 0;
  }
  h3 {
    margin: 10px 0;
  }
}
.wrapper {
  margin: 0 -15px;
}
