@import "stapel";

.topbar {
  padding: 0;
  padding-left: 15px;
  box-shadow: none;
  min-height: 76px;
  margin-top: 40px;
  overflow-x: hidden;
  h2, h3 {
    margin: 10px 0;
  }
  h3 {
    margin: 10px 0;
  }
}
.wrapper {
  margin: 0 -15px;
  padding-bottom: 70px;
  overflow-x: hidden;
}
.tp-grid li a {
  width: 320px;
  height: 200px;
  img {
    width: 100%;
    height: auto;
  }
  @media (max-width: $screen-md-max) {
    width: 250px;
    height: 156px;
  }
  @media (max-width: $screen-sm-max) {
    width: 296px;
    height: 200px;
  }
  @media (max-width: $screen-sm-min - 1) {
    width: 310px;
    height: 190px;
  }
  @media (max-width: 436px) {
    width: 345px;
    height: 215px;
  }
  @media (max-width: 416px) {
    width: 320px;
    height: 190px;
  }
  @media (max-width: 376px) {
    width: 285px;
    height: 180px;
  }
  @media (max-width: 321px) {
    width: 230px;
    height: 150px;
  }
}
