- var title = "Προσκλητήριο";

section.article.participation-form(data-action="sendmail.php")
  .carousel.slide.label
    .carousel-inner
      .item.active
        .carousel-caption
          .container
            .row-no-margin
              .col-md-12
                h3=title
              .step1
                .form-group.col-sm-4
                  label.text-uppercase Ονοματεπώνυμο &nbsp;
                    span.required (υποχρεωτικό)
                    input(type="text" required="required" id="name" name="name")
                .form-group.col-sm-4
                  label.text-uppercase E-MAIL &nbsp;
                    span.required (υποχρεωτικό)
                    input(type="email" required="required" id="email" name="email")
                .form-group.col-sm-4
                  label.text-uppercase Θα παραυρεθούμε &nbsp;
                    span.required (προαιρετικό)
                    br
                    select.select-age.form-control.select2(id="age")
                      option(value="Ναι") Ναι
                      option(value="Όχι") Όχι
                .col-sm-12
                  hr
                  .submit-button
                    button.send.btn.btn-primary(type="submit") ΑΠΟΣΤΟΛΗ
      .item
        .carousel-caption
          .container
            .row-no-margin
              .col-md-12
                h1 Ευχαριστούμε πολύ
