- var mainMenuActiveIndex = -1;
- var brandName = "Γιάννης & Δήμητρα";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
  body
    include partials/header-body
    section#home.section-image(style="background-image:url('assets/images/img001.jpg')")
      h1
        span
      .section-image-more
        a.section-image-more-btn(href="javascript:")
          span.section-image-more-btn-txt.text-uppercase ΠΕΡΙΣΣΟΤΕΡΑ
          br
          span.more-arrow-icon
    section#prosklisi
      div
        .page-description
          .content-html
            p Σας προσκαλούμε στο γάμο μας, που θα γίνει στις 10 Σεπτεμβρίου, ημέρα Σάββατο και ώρα 18:00, στον Ι.Ν. Αγ. Ιωάννη, στο κτήμα Γκούντα, 29ο χλμ Θεσ/νίκης-Σερρών.<br><br> Η παρουσία σας θα μας τιμήσει ιδιαίτερα.<br> Γιάννης - Δήμητρα
    section#photos.darken
      div
        .container
          .col-md-12
            include partials/stapel
    section#form.darken
      include partials/participation-form
    include partials/footer
