- var mainMenuActiveIndex = -1;
- var brandName = "Γιάννης & Δήμητρα";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
  body
    include partials/header-body

    include sections/home
    include sections/prosklisi
    include sections/timeline
    include sections/photos
    include sections/participation-form

    include partials/footer
