- var mainMenuActiveIndex = -1;
- var brandName = "john";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
  body
    include partials/header-body

    include partials/footer
