- var mainMenuActiveIndex = -1;
- var brandName = "Γιάννης & Δήμητρα";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
  body
    include partials/header-body
    section#home.section-image(style="background-image:url('assets/images/img001.jpg')")
      h1
        span
      .section-image-more
        a.section-image-more-btn(href="javascript:")
          span.section-image-more-btn-txt.text-uppercase ΠΕΡΙΣΣΟΤΕΡΑ
          br
          span.more-arrow-icon
    section#prosklisi
      div
        .page-description
          .content-html
            p Σας προσκαλούμε στο γάμο μας, που θα γίνει στις 10 Σεπτεμβρίου, ημέρα Σάββατο και ώρα 18:00, στον Ι.Ν. Αγ. Ιωάννη, στο κτήμα Γκούντα, 29ο χλμ Θεσ/νίκης-Σερρών.<br><br> Η παρουσία σας θα μας τιμήσει ιδιαίτερα.<br> Γιάννης - Δήμητρα
        .container
          .internal-links
            .card.small
              a.card-container(style="background-image: url(assets/photos/albums/naos/thumb2-thumbnail.jpg)" href="http://www.kthma-gia-gamo.gr/" target="blank")
                h5
                  .text Κτήμα Γκούντα
            .card.small
              a.card-container(style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=40.8775839,23.0567624&zoom=10&scale=false&size=350x216&maptype=roadmap&key=AIzaSyD8y7IJNTgRSwbnoR-I1OopiRU721SZg3k&format=png&markers=markers=size:mid%7Ccolor:red%7C40.8775839,23.0567624&sensor=false&sensor=false)" href="https://www.google.gr/maps/dir//%CE%9A%CF%84%CE%AE%CE%BC%CE%B1+%CE%93%CE%BA%CE%BF%CF%8D%CE%BD%CF%84%CE%B1,+%CE%95%CE%9F+%CE%98%CE%B5%CF%83%CF%83%CE%B1%CE%BB%CE%BF%CE%BD%CE%AF%CE%BA%CE%B7%CF%82+%CE%A3%CE%B5%CF%81%CF%81%CF%8E%CE%BD,+%CE%9B%CE%B1%CF%87%CE%B1%CE%BD%CE%AC%CF%82+570+17/@40.8775839,23.0567677,17z/data=!4m16!1m7!3m6!1s0x14a9b4280bc55ea3:0x69f988d0737fd708!2zzprPhM6uzrzOsSDOk866zr_Pjc69z4TOsQ!3b1!8m2!3d40.8775799!4d23.0589564!4m7!1m0!1m5!1m1!1s0x14a9b4280bc55ea3:0x69f988d0737fd708!2m2!1d23.0589564!2d40.8775799?hl=el" target="blank")
                h5
                  .text Η τοποθεσία
            .card.small
              a.card-container(href="javascript:")
                h5.full
                  .text
                    span.video-icon.glyphicon.glyphicon-play
        //.container.pcontainer
        //  .pleft
        //  .pright
    section#photos.darken
      div
        .container
          .col-md-12
            include partials/stapel
    section#form
      include partials/participation-form
    include partials/footer
